# Database
NYRVANA_DB_PATH=./data/nyrvana.db
NYRVANA_MASTER_KEY=

# JWT
NYRVANA_JWT_SECRET= # Generate a secure secret with `openssl rand -hex 32`

# Immich
NYRVANA_IMMICH_URL=
NYRVANA_IMMICH_API_KEY=

# Miniflux
NYRVANA_MINIFLUX_URL=
NYRVANA_MINIFLUX_TOKEN=

# Umami
NYRVANA_UMAMI_URL=
NYRVANA_UMAMI_USERNAME=
NYRVANA_UMAMI_PASSWORD=
# Sablier
NYRVANA_SABLIER_URL=
NYRVANA_SABLIER_TOKEN=
