NYRVANA_ADGUARD_URL=http://localhost:8080
NYRVANA_ADGUARD_USER=admin
NYRVANA_ADGUARD_PASS=secret

NYRVANA_NTFY_URL=http://localhost:8081
NYRVANA_NTFY_USER=user
NYRVANA_NTFY_PASS=secret

NYRVANA_MEMOS_URL=http://localhost:8082
NYRVANA_MEMOS_USER=user
NYRVANA_MEMOS_PASS=secret